@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap");

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --heading1-font: "Heebo", sans-serif;
  --heading2-font: "Sora", sans-serif;
  --text-font: "Montserrat", sans-serif;
  --c: #76767f;
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.5rem;
}

html::-webkit-scrollbar-track {
  background: black;
}

html::-webkit-scrollbar-thumb {
  background: rgb(227, 59, 59);
  border-radius: 1rem;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translatex(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.t-box:nth-child(2) {
  transition-delay: 200ms;
}
.t-box:nth-child(3) {
  transition-delay: 400ms;
}

/* Nav-bar */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 998;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 9%;
  text-transform: capitalize;
  text-decoration: none;

  font-size: 1.7rem;
  font-weight: 700;
}

.navbar a {
  text-decoration: none;
  color: #fff;
}

.header a {
  text-decoration: none;
  color: #fff;
}

.header .navbar a {
  font-size: 1rem;
  margin: 0 1rem;
  transition-duration: 0.6s;
  font-family: var(--text-font);
}

.navbar .blue:hover {
  color: #ff0000;
}

.navbar .blue[aria-current="page"] {
  color: #ff0000;
}

.header .btn {
  text-transform: capitalize;
  margin-top: 0;
}

#menu-btn {
  font-size: 2rem;
  cursor: pointer;
  color: #fff;
  margin-left: 1.7rem;
  display: none;
  text-transform: capitalize;
  z-index: 999;
}

/* Nav-bar End */

/* Portfolio */
.portfolio {
  margin: 80px 0;
  transition-duration: 0.6s;
}
.portfolio:hover {
  box-shadow: 5px 5px 5px 5px #fd000047;
}

.client {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  margin-bottom: 60px;
}

.client > div img {
  width: 500px;
}

.content {
  padding: 30px;
}

.content h2 {
  color: #171717;
  font-family: var(--heading2-font);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.content p {
  color: #76767f;
  font-size: 24px;
}

.content .obj {
  margin-top: 15px;
  margin-left: 40px;
}

.content .obj p {
  font-family: var(--heading1-font);
  color: #ff0000;
}

img {
  border-radius: 20px;
}

.results {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  gap: 40px;
  padding-bottom: 20px;
}
.result {
  background: #ff0000;
  border-radius: 10px;
}
.result h2 {
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
  font-family: var(--heading1-font);
  padding-left: 20px;
  margin-bottom: 10px;
}

.result p {
  color: #e5e5e7;
  font-size: 24px;
  font-weight: 500;
  font-family: var(--text-font);
  margin-bottom: 10px;
  padding-left: 10px;
}

.analytics img {
  width: 650px;
}

/*  Portfolio End */

/* Footer */
.footer {
  padding: 20px;
  background: #3d4043;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.socials a {
  text-decoration: none;
  color: #ff0000;
  background: transparent;
  font-size: 3rem;
}

.socials a:hover {
  color: #ea9999;
}

.bottom {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  margin-top: 30px;
  border-top: 1px solid #fff;
}
.bottom-left {
  margin-top: 20px;
}

.bottom-left h2 {
  color: #fff;
  font-family: var(--heading1-font);
  font-size: 24px;
  font-weight: 600;
}

.bottom-left p {
  color: #fff;
  font-family: var(--text-font);
  font-size: 16px;
  font-weight: 400;
}

.bottom-right {
  margin-top: 20px;
}

.bottom-right h2 {
  color: #fff;
  font-family: var(--heading1-font);
  font-size: 24px;
  font-weight: 200;
}

#year {
  color: #ff0000;
}
/* Footer End*/

/* Media queries*/

/* 2xl */
/* @media (max-width: 1536px) {
      .container {
        max-width: 1280px;
      }
    }
    
    /* xl */
/* @media (max-width: 1280px) {
      .container {
        max-width: 1024px;
      }
    } */

/* lg */
@media (max-width: 1024px) {
  #menu-btn {
    display: inline-block;
  }

  #menu-btn.fa-times {
    transform: rotate(180deg);
    color: #fff;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #000;
    padding: 1rem 0;
    height: 70vh;
    text-align: center;
    flex-flow: column;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    color: #fff;
  }

  .header .navbar a {
    display: block;
    padding: 1rem 0;
    font-size: 1.5rem;
  }
  .portfolio {
    max-width: 1024px;
  }
  img {
    width: 300px;
  }
  .client > div img {
    width: 300px;
  }

  .analytics img {
    width: 450px;
  }
}

/* md */
@media (max-width: 768px) {
  .portfolio {
    max-width: 768px;
  }
  .client {
    margin-bottom: 20px;
  }
  .content h2 {
    font-size: 1.4rem;
  }
  .content p {
    font-size: 16px;
  }

  .client > div img {
    margin-top: 20px;
    margin-left: 20px;
  }

  .results {
    gap: 20px;
  }

  .result h2 {
    font-size: 2rem;
  }

  .result p {
    font-size: 16px;
  }

  .bottom {
    flex-direction: column;
    align-self: center;
  }
}

/* sm */
@media (max-width: 648px) {
  .main-header {
    max-width: 648px;
  }
  .client {
    flex-direction: column;
  }
  .results {
    flex-direction: column;
  }
}

/* xs */
@media (max-width: 475px) {
  .portfolio {
    margin: 30px 0px 0px;
    padding: 0px auto;
  }
  .client {
    padding-left: 10px;
  }
  .content {
    padding: 0;
  }
  .content .obj p {
    width: 100%;
    margin-left: 10px;
  }
  .analytics img {
    width: 320px;
  }
  .client > div img {
    margin-left: 0px;
  }
}

@media (max-width: 320px) {
  .header {
    max-width: 320px;
  }
  .content {
    padding: 0;
  }
  img {
    width: 280px;
  }
  .analytics img {
    width: 280px;
    margin: 0 auto;
  }
  .bottom-left h2 {
    font-size: 16px;
  }

  .bottom-right h2 {
    font-size: 14px;
  }
}
