@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: white;
}
:root {
  --hero-text: "Bebas Neue", sans-serif;
  --heading1-font: "Heebo", sans-serif;
  --heading2-font: "Sora", sans-serif;
  --text-font: "Montserrat", sans-serif;
  --c: #76767f;
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.5rem;
}

html::-webkit-scrollbar-track {
  background: black;
}

html::-webkit-scrollbar-thumb {
  background: rgb(227, 59, 59);
  border-radius: 1rem;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.t-box:nth-child(2) {
  transition-delay: 200ms;
}
.t-box:nth-child(3) {
  transition-delay: 400ms;
}

/* Nav-bar */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 998;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 9%;
  text-transform: capitalize;
  text-decoration: none;
}

.header {
  font-size: 1.7rem;
  font-weight: 700;
}

.navbar a {
  text-decoration: none;
  color: rgb(220, 220, 220);
}

.header a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.header .navbar a {
  font-size: 1rem;
  margin: 0 1rem;
  transition-duration: 0.6s;
}

#menu-btn {
  font-size: 2rem;
  cursor: pointer;
  color: #fff;
  margin-left: 1.7rem;
  display: none;
  text-transform: capitalize;
  z-index: 999;
}

/* Nav-bar End */

/* Hero */
.hero {
  height: 88vh;
  display: flex;
  padding-left: 10px;
  flex-direction: column;
  width: 100%;
}

.hero-content {
  margin-top: 170px;
  z-index: 2;
  margin-left: 60px;
}
.hero-content h2 {
  font-family: var(--hero-font);
  color: #fff;
  font-size: 3.3rem;
  font-weight: 600;
  padding: 0 500px 0 0;
}

.hero-content button a {
  text-decoration: none;
  color: #fff;
}
.hero-content button {
  font-size: 18px;
  font-weight: 700;
  margin-top: 30px;
  margin-left: 11px;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  height: 70px;
  width: 180px;
  transition-duration: 0.6s;
  z-index: 2;
}

.hero-content button:hover {
  border: 2px solid red;
  transform: translate(8px, -8px);
  box-shadow: 10px 10px red;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-container video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.video-container::after {
  content: "";
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
}

/* Hero End */

/* About */

.about {
  padding: 20px;
}

.about-content {
  display: flex;
  gap: 20px;
  padding: 50px;
  margin-top: 60px;
}

.about-content .left-content {
  flex: 1;
  font-family: var(--hero-font);
}

.about-content .left-content h4 {
  color: red;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 40px;
}

.about-content .left-content h2 {
  font-size: 56px;
  font-weight: 700;
  color: #26262c;
}

.about-content .right-content {
  flex: 1;
  font-family: var(--text-font);
}

.about-content .right-content p {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 15px;
  color: #79787f;
}

.about-content .right-content button a {
  text-decoration: none;
  color: #ff0000;
}

.about-content .right-content button {
  height: 60px;
  width: 180px;
  border: 2px solid red;
  outline: none;
  font-size: 16px;
  background: transparent;
  margin-top: 10px;
  transition-duration: 0.6s;
  font-family: inherit;
}

.about-content .right-content button:hover {
  border: 2px solid red;
  transform: translate(8px, -8px);
  box-shadow: 10px 10px red;
}

/* About End */

/* Service */
.service {
  padding: 20px;
  background: #3d4043;
}

.service-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 100%;
}

.service-content h4 {
  color: red;
  font-family: var(--heading1-font);
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
}

.service-content h2 {
  font-size: 54px;
  font-weight: 600;
  font-family: var(--heading2-font);
  color: #fff;
}

.service-content p {
  font-family: var(--text-font);
  font-family: 14px;
  font-weight: 400;
  color: #f4f4f4;
}

.service-box {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 80px;
}

.box {
  height: 300px;
  border-radius: 10px;
  width: 520px;
  background: #7a7a80;
  padding: 20px;
  transition-duration: 0.6s;
}

.box:hover {
  transform: scale(1.08);
  box-shadow: 10px 10px #ff0000;
}

.box h3 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 10px;
  margin-top: 15px;
  font-family: var(--heading1-font);
}

.box p {
  line-height: 1.2;
  font-family: var(--text-font);
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}

.lord-icon {
  width: 100px;
  height: 100px;
}

/* Service End */

/* Portfolio */

.portfolio {
  padding: 20px;
  margin-bottom: 80px;
}

.portfolio-content {
  display: flex;
  gap: 70px;
  margin-top: 50px;
  padding: 20px;
}
.portfolio-content .left-content {
  flex: 1;
}

.portfolio-content .left-content h3 {
  color: #ff0000;
  font-family: var(--heading2-font);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.portfolio-content .left-content h2 {
  font-family: var(--heading2-font);
  font-weight: 700;
  font-size: 54px;
  margin-bottom: 25px;
}

.portfolio-content .left-content p {
  font-family: var(--text-font);
  font-size: 16px;
  font-weight: 400;
  color: #7a7a80;
  margin-bottom: 30px;
}

.work {
  border: 1px solid red;
  margin-bottom: 50px;
  transition-duration: 0.5s;
}

.work:hover {
  transform: scale(1.06);
}

.work img {
  width: 550px;
  height: 310px;
  border-radius: 10px;
}
.work button a {
  color: #ff0000;
}
.work button {
  height: 50px;
  width: 150px;
  font-family: var(--text-font);
  font-weight: 600;
  font-style: 16px;
  background: transparent;
  border: 2px solid red;
  transition-duration: 0.6s;
}

.work button:hover {
  border: 2px solid red;
  transform: translate(8px, -8px);
  box-shadow: 10px 10px red;
}

.left-content .work h3 {
  font-family: var(--heading1-font);
  font-weight: 500;
  font-size: 20px;
  color: #ff0000;
}

.portfolio-content .right-content {
  flex: 1;
  margin-top: 150px;
}

.right-content .work h3 {
  font-family: var(--heading1-font);
  font-weight: 500;
  font-size: 20px;
  color: #ff0000;
  margin-bottom: 20px;
}
/*  Portfolio End */

/* Testimonial */
.testimonial {
  padding: 20px;
  margin-top: 20px;
  background: #3d4043;
}

.testimonial-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.testimonial-content h4 {
  font-family: var(--heading2-font);
  font-size: 24px;
  font-weight: 500;
  color: #ff0000;
}

.testimonial-content h2 {
  color: #fff;
  font-size: 54px;
  font-weight: 700;
  font-family: var(--heading2-font);
}

.testimonial-content p {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--text-font);
  color: #fff;
}

.testimonial-box {
  display: flex;
  justify-content: center;
  padding: 20px;
  z-index: 2;
  gap: 30px;
}

.t-box {
  /* background: #95959a; */
  padding: 20px;
  border-radius: 10px;
  width: 350px;
}

.t-box img {
  height: 30px;
  width: 30px;
}

.t-box p {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--heading1-font);
  margin-top: 10px;
}

.t-box h2 {
  font-size: 18px;
  margin-left: 10px;
  margin-top: 10px;
  font-family: var(--heading1-font);
}

/* Testimonial End*/

/* Contact */
.contact {
  padding: 20px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.contact-content {
  display: flex;
  gap: 50px;
  padding: 20px;
}

.contact-content .left {
  flex: 1;
}

.contact-content .left h2 {
  font-family: var(--heading1-font);
  font-weight: 500;
  font-size: 40px;
  color: #ff0000;
  margin-bottom: 20px;
}

.contact-content .left p {
  font-family: var(--text-font);
  font-weight: 400;
  font-size: 24px;
  color: #7a7a80;
  margin-bottom: 20px;
}

.contact-content .right {
  flex: 1;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background: #ff0000;
  color: #fff;
  border-radius: 20px;
  font-family: var(--text-font);
  width: 600px;
}

form label {
  font-size: 24px;
  font-weight: 500;
}

form input {
  height: 50px;
  color: #000;
  padding: 20px;
  border: none;
  outline: none;
}

form textarea {
  height: 70px;
  padding: 20px;
}

form button {
  height: 60px;
  width: 130px;
  font-size: 18px;
  color: #ff0000;
  border: 1px solid red;
  border-radius: 20px;
  align-self: center;
}

form button:hover {
  transform: translateY(5px);
}
/* Contact End */

/* Footer */
.footer {
  padding: 20px;
  background: #3d4043;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.socials a {
  text-decoration: none;
  color: #ff0000;
  background: transparent;
  font-size: 3rem;
}

.socials a:hover {
  color: #ea9999;
}

.bottom {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  margin-top: 30px;
  border-top: 1px solid #fff;
}
.bottom-left {
  margin-top: 20px;
}

.bottom-left h2 {
  color: #fff;
  font-family: var(--heading1-font);
  font-size: 24px;
  font-weight: 600;
}

.bottom-left p {
  color: #fff;
  font-family: var(--text-font);
  font-size: 16px;
  font-weight: 400;
}

.bottom-right {
  margin-top: 20px;
}

.bottom-right h2 {
  color: #fff;
  font-family: var(--heading1-font);
  font-size: 24px;
  font-weight: 200;
}

#year {
  color: #ff0000;
}
/* Footer End*/

/* Media queries*/

/* lg */
@media (max-width: 1024px) {
  #menu-btn {
    display: inline-block;
  }

  #menu-btn.fa-times {
    transform: rotate(180deg);
    color: #fff;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #000;
    padding: 1rem 0;
    height: 70vh;
    text-align: center;
    flex-flow: column;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    color: #fff;
  }

  .header .navbar a {
    display: block;
    padding: 1rem 0;
    font-size: 1.5rem;
  }
  .hero-content h2 {
    padding: 0 0 0 0;
  }

  .video-container {
    max-width: 1024px;
  }
  .video-container video {
    max-width: inherit;
  }
  .video-container::after {
    max-width: 1024px;
  }
  .hero-content h2 {
    font-size: 2rem;
  }

  .about {
    max-width: 1024px;
    margin-bottom: 50px;
  }
  .about-content {
    flex-direction: column;
    padding: 50px 20px;
  }

  .about-content .left-content h2 {
    font-size: 34px;
  }
  .about-content .right-content p {
    font-size: 16px;
  }

  .service {
    max-width: 1024px;
  }
  .service-box {
    gap: 25px;
  }

  .service-content h2 {
    font-size: 24px;
    font-weight: 600;
    font-family: var(--heading2-font);
    color: #fff;
  }

  .service-content p {
    font-size: 14px;
  }

  .box h3 {
    font-size: 1.6rem;
    margin-bottom: 0;
    margin-top: 10px;
  }

  .box p {
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
  }
  .lord-icon {
    height: 70px;
    width: 70px;
  }

  .portfolio {
    max-width: 1024px;
  }
  .portfolio-content {
    gap: 80px;
    width: 100%;
    align-items: center;
  }
  .work {
    margin-bottom: 20px;
  }
  .work img {
    width: 100%;
    height: 210px;
  }

  .work button {
    height: 30px;
    width: 100px;
  }

  .portfolio-content .left-content h2 {
    font-size: 34px;
  }
  .portfolio-content .left-content h3 {
    margin-bottom: 10px;
  }
  .portfolio-content .right-content {
    margin-top: 0px;
  }

  .testimonial {
    max-width: 1024px;
    gap: 10px;
  }
  .testimonial-content h4 {
    font-size: 16px;
  }

  .testimonial-content h2 {
    font-size: 34px;
  }
  .testimonial-box {
    padding: 0 10px;
    gap: 10px;
  }
  .t-box {
    width: 300px;
  }
  .t-box h2 {
    font-size: 18px;
  }

  .contact {
    max-width: 1024px;
  }
  .contact-content .left h2 {
    font-size: 30px;
  }
}

/* md */
@media (max-width: 768px) {
  .video-container::after {
    width: 768px;
  }

  .hero-content h2 {
    font-size: 2rem;
  }

  .about {
    max-width: 768px;
  }

  .about-content {
    padding: 10px 10px;
  }
  .about-content .left-content h2 {
    font-size: 24px;
  }
  .about-content .right-content p {
    font-size: 14px;
  }

  .about-content .right-content button {
    height: 50px;
    width: 120px;
  }

  .service {
    max-width: 768px;
  }

  .service-box {
    gap: 40px;
  }

  .box {
    width: 320px;
    height: 250px;
  }

  .box h3 {
    font-size: 18px;
  }
  .box p {
    font-weight: 400;
    font-size: 12px;
  }

  .lord-icon {
    height: 40px;
    width: 40px;
  }

  .portfolio {
    max-width: 768px;
  }

  .portfolio-content {
    margin-top: 20px;
  }
  .portfolio-content .left-content h2 {
    font-size: 24px;
  }

  .portfolio-content .right-content {
    margin-top: 30px;
  }

  .work img {
    width: 270px;
    height: 200px;
  }

  .testimonial-box {
    flex-direction: column;
  }

  .t-box {
    width: 100%;
  }
  .contact {
    max-width: 768px;
  }

  .contact-content .left h2 {
    font-size: 24px;
  }

  form {
    width: 280px;
  }

  .bottom {
    flex-direction: column;
    align-self: center;
  }
}

/* sm */
@media (max-width: 640px) {
  .main-header {
    max-width: 648px;
  }
  .service-box {
    gap: 20px;
  }
  .box {
    width: 250px;
  }
  .portfolio-content {
    flex-direction: row;
    gap: 20px;
  }

  .work img {
    width: 240px;
    height: 180px;
  }
}

/* xs */
@media (max-width: 475px) {
  .hero-content {
    margin-left: 30px;
  }
  .hero-content h2 {
    font-size: 2rem;
  }
  .header a {
    font-size: 12px;
  }

  .about {
    margin-top: 30px;
    margin-bottom: 120px;
  }

  .service {
    margin-bottom: 50px;
  }
  .service-content {
    text-align: center;
  }

  .portfolio {
    margin: 30px 0px 0px;
    padding: 0px auto;
  }
  .portfolio-content {
    flex-direction: column;
    gap: 0px;
    align-items: center;
  }
  .portfolio-content .left-content {
    margin: 0 50px;
  }

  .portfolio-content .left-content p {
    margin-bottom: 10px;
  }

  .testimonial-content {
    text-align: center;
  }
  .contact {
    margin-bottom: 200px;
  }
  .contact-content {
    flex-direction: column;
    align-items: center;
  }

  form {
    width: 300px;
  }
}

@media (max-width: 320px) {
  .header {
    max-width: 320px;
  }
  .hero-content h2 {
    margin-left: -30px;
  }
  .video-container::after {
    max-width: 320px;
  }
  .about {
    margin-bottom: 200px;
  }
  .contact-content {
    max-width: 310px;
  }

  .bottom-left h2 {
    font-size: 16px;
  }

  .bottom-right h2 {
    font-size: 14px;
  }
}
